
.header {
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 2% 0;
  }
  .header .container {
    width: auto;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    margin: auto;
    max-width: 100%;
  }
  @media (max-width: 1200px){
     .container {
        max-width: 1140px;
    }
  }
  
  @media (max-width: 992px){
     .container {
      padding: 0 70px;
      max-width: 960px;
    }
  }
  @media (max-width: 768px){
     .container {
      padding: 0 70px;
      max-width: 720px;
    }
  }
  
  @media (max-width: 594px){
     .container {
      padding: 20px 20px;
      max-width: 540px;
    }
  }

  @media screen and (max-width: 767px){
    .menu-trigger {
      position: absolute;
      top: 0;
      z-index: 9;
      display: block;
      cursor: pointer;
      width: 30px;
      margin: 25px 30px;
      padding: 0;
      padding-top: 5px;
      height: 30px;
      right: 0;
    }

    .activemenu .header .main-menu {
      left: 0;
      opacity: 1;
    }
    .activemenu .header {
      height: 100vh;
      background: rgba(8,8,8, .9);
    }
    .header .main-menu {
      position: absolute;
      transition: opacity .3s ease;
      opacity: 0;
      width: 100%;
      margin: 60px auto;
    }
    .header .main-menu li {
      width: 100%;
      text-align: center;
      margin-left: 0px !important;
      padding-top: 30px;
      font-size: 1.5em !important;
    }
    .menu-trigger span {
      height: 2px;
      background: #fff;
      transition: all .3s ease;
      display: block;
      margin: 0 0 6px;
    }
    .activemenu .menu-trigger span:first-child {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: 8px 0 -10px;
    }
    .activemenu .menu-trigger span:nth-child(2) {
      opacity: 0;
    }
    .activemenu .menu-trigger span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  footer, header, menu, nav {
    display: block;
  }
  
  .header .logo {
    color: white;
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
  }
  
  a[href],
  input[type="checkbox"],
  input[type="radio"],
  label[for],
  select {
    cursor: pointer;
  }
  
  .header .main-menu li a:after,
  .header .main-menu li a:before {
    background-color: #747474;
    left: 50%;
    margin-left: 8px;
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
  }
  .header .main-menu li a:before {
    margin-left: -12px;
  }
  .header .main-menu a {
    display: block;
    padding-bottom: 8px;
  }
  .header .main-menu .current:before,
  .header .main-menu .current a:after,
  .header .main-menu .current a:before {
    opacity: 1;
  }
  .header .main-menu li:before,
  .header .main-menu li a:after,
  .header .main-menu li a:before {
    content: "";
    width: 4px;
    position: absolute;
    height: 4px;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 50%;
  }
  .header .main-menu li:before {
    background-color: #e8e8e8;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .header .main-menu li {
    float: left;
    margin-left: 40px;
    position: relative;
    letter-spacing: 0.025em;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .header .main-menu li:hover {
    color: #747474;
  }
  ul {
    list-style: none !important;
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }